.ChainCardWrapper{
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 10px;
	padding: 20px 80px;
	margin-bottom: 20px;
}

.ChainImage{
	width: 20px;
}

.ChainCardWrapper:hover {
	background-color: #272727;
	border-radius: 50px;
}