.MarketChartsContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	border-radius: 10px;
	width: 100%;
}

.MarketChartsTable{
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: left;
}

th{
	color: #727272;
	font-weight: 400;
	font-size: 0.8em;
	padding-bottom: 20px;
}

td{
	color: #000;
	font-weight: 400;
	margin-bottom: 2000px;
	padding-bottom: 30px;
}

.CoinName{
	font-weight: 600;
}

.CoinAbbreviation{
	font-weight: 300;
	color: #727272
}