a {
	text-decoration: none;
	color: inherit;
}

.PeerToPeerAd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 5px;
	text-align: left;
	padding: 20px 40px;
	background-color: #232323;
}

.PeerToPeerUserImage {
	background-color: blueviolet;
}

.PeerToPeerUserInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.PeerToPeerUsername {
	color: #AFAFAF;
}

.PeerToPeerCompletionRate {
	color: #AFAFAF;
}

.PeerToPeerUserStats{
	display: flex;
	flex-direction: column;
}

.PeerToPeerDetailsWrapper {
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-items: center;
}

.PeerToPeerOrderStats {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.PeerToPeerRateWrapper {
	display: flex;
	flex-direction: row;
	gap: 80px;
	align-items: center;
}

.PeerToPeerRate {
	font-weight: 600;
	font-size: 1.5em;
}

.PeerToPeerLimit {
	color: #AFAFAF;
}

.PeerToPeerStats {
	color: #AFAFAF;
}

.PeerToPeerRating {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.PeerToPeerRatingStar {
	width: 10px;
}

.PeerToPeerDetails {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

.PeerToPeerUserImage {
	background-color: blueviolet;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.PeerToPeerOrderStats{
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.PeerToPeerPaymentMethods{
	display: flex;
	flex-direction: row;
	gap: 10px
}

.PeerToPeerPaymentMethod{
	background-color: rgb(0, 34, 0);
	text-align: center;
	padding: 2px 10px;
	border-radius: 20px;
}


@media only screen and (max-width: 600px) {
	.PeerToPeerAd {
		width: 90%;
		padding: 15px;
		margin: auto;
		font-size: 0.8em;
		height: 80%;
	}

	.PeerToPeerUserImage {
		background-color: blueviolet;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	.PeerToPeerUsername {
		font-size: 1.1em;
	}

	.PeerToPeerDetails {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}