.MyAdPage {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.MyAdsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.MyAdsHeading {
	text-align: left;
	margin-left: 50px;
	font-weight: 600;
	font-size: 1.1em;
}

.MyAdsWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	gap: 40px;
}

.MyAds{
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.CreateAdButton{
	width: fit-content;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: #232323;
	border: none;
	color: #FFF;
	font-size: 0.9em;
	font-weight: 700;
}