.PortfolioHome{
	background-color: #191B2A;
	color: #D1D1D4;
	/* width: 30px; */
	border-radius: 10px;
	padding: 20px;
}

.PortfolioAssetWrapper{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.PortfolioLine{
	width: 100%;
	height: 2px;
	background-color: #F3F3F3;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 50%;
}

.PortfolioDetails{
	display: flex;
	justify-content: space-between;
}

.PortfolioText{
	font-size: 1.1em;
	font-weight: 700;
	color: #FFF;
}

.PortfolioWalletCTA{
	text-align: left;
}