.Dashboard {
	background-color: #F3F3F3;
	width: 100%;
}

.DashboardContent{
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.DashboardMarketChartsContainer{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 600px;
}

.AdsAndPortfolio {
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
}

.PeerToPeerContainer {
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px;
}

.AdTypeWrapper{
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.PeerToPeerWrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}