.Dashboard {
	width: 100%;
	height: 100%;
	color: #FFF;
}

.DashboardContent {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.DashboardMarketChartsContainer {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.AdsAndPortfolio {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	gap: 25px;
}

.PeerToPeerContainer {
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px;
}

.AdTypeWrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.PeerToPeerWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.PeerToPeerHeadingWrapper {
	margin-bottom: 40px;
}

.PeerToPeerHeading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.PeerToPeerHeadingText {
	font-size: 1.1em;
	font-weight: 700;
}

.DashboardBalanceWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.DashboardBalance {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.DashboardCardsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 80px;
	width: 1080px;
	margin: auto;
	margin-top: 40px;
}

.DashboardBalanceAmount {
	font-weight: 500;
	color: #AFAFAF;
	font-size: 1.5em;
}

.DashboardBalanceText {
	color: #AFAFAF;
	font-weight: 300;
	font-size: 0.8em;
}