.TransactionCardWrapper {
	background-color: #232323;
	border-radius: 5px;
	border: none;
	/* width: 80; */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	color: #AFAFAF;
	padding: 15px;
}

.TransactionDetails {
	display: flex;
	flex-direction: column;
	justify-content: left;
	text-align: left;
	gap: 100px;
}

.TransactionInfo {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
	width: 10%;
}


.TransactionInfoWallet {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
	width: 40%;
}

.TransactionInfoTime {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
	width: 25%;
}

.TransactionInfoTitle {
	font-weight: 300;
	font-size: 0.7em;
}

.TransactionInfoText {
	font-weight: 600;
	font-size: 0.85em;
}

.TransactionWallet {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: left;
}

.TransactionAmount {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.TransactionInfoDate {
	font-size: 0.7em;
}

.TransactionAmountETH {
	font-size: 0.85em
}

.TransactionAmountUSD {
	font-size: 0.85em
}

.TransactionTimeStamp {
	font-size: 0.65em
}

.TransactionTXN {
	font-size: 0.85em
}

.TransactionFromAddress {
	font-size: 0.85em
}

.TransactionToAddress {
	font-size: 0.85em
}