.SideBarButton {
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: row;
	gap: 50px;
	color: #646464;
	width: 80%;
	margin: auto;
	border-radius: 5px;
	align-self: center;
	padding: 10px;
}

.SideBarButton:hover{
	background-color: #000000;
}