.UserInformationWrapper {
	display: flex;
	gap: 80px;
	justify-content: space-between;
	flex-direction: row;
	width: 60%;
	margin: auto;
}

.UserInformation {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.UserInformationText {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 10px;
}

.UserInformationExtra {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: right;
}

.UserName {
	font-weight: 700;
	font-size: 1.1em;
}

.UserImage {
	border-radius: 50%;
	width: 60px;
}


.BuyPageInputWrapper{
	width: 60%;
	background-color: red;
}