.UserReviewWrapper {
	background-color: #FAFAFA;
	margin: auto;
	padding: 20px;
}

.UserReview {
	display: flex;
	flex-direction: row;
	gap: 60px;
	margin: auto;
}

.UserReviewName {
	font-weight: 700;
}

.UserReviewDate {
	font-weight: 300;
}

.UserPaymentMethod {
	border-radius: 10px;
	padding: 2px 20px 2px 20px;
	background-color: #FAE8CF;
	color: #DC9635;
	font-size: 0.8em;
}