.PeerToPeerPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #FFF;
}

.PageTitle {
	color: #FFF;
}

.PeerToPeerWrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 10px auto;
	width: 100%;
}

.PeerToPeerDropdownWrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.PeerToPeerCurrency {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.CreateAdButton {
	background-color: #008DFF;
	border: none;
	width: 140px;
	height: 60px;
	border-radius: 5px;
	padding: 20px;
	color: #FFF;
	margin-left: 20px;
}

.PeerToPeerHeadingContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 800px;
	margin: 10px auto 40px auto;
	gap: 40px;
}

.PeerToPeerFiltersWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 700px;
}

.PageTitle {
	color: #FFF;
}

.P2PSearchBox {
	background-color: #1D1D1D;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 450px;
}

.PeerToPeerSearchWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 700px;
}

.ChainSwitcherWrapper {
	width: fit-content;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
	.P2PSearchBox {
		width: 80vw;
	}

	.PeerToPeerSearchWrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 80vw;

	}
}