.UserInformationWrapper {
	display: flex;
	gap: 80px;
	justify-content: center;
	flex-direction: row;
}

.UserInformation {
	display: flex;
	flex-direction: row;
}

.UserInformationText{
	display: flex;
	flex-direction: column;
}

.UserInformationExtra{
	display: flex;
	flex-direction: column;
}

.UserInformationContentWrapper{
	background-color: #BEE8E1;
	width: 40%;
	border-radius: 10px;
	padding: 20px 0 20px 0;
	margin: auto;
}

.BuyPageWrapper{
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.BuyTerms{
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: left;
	justify-content: center;
}

.BuyPriceInformation{
	display: flex;
	flex-direction: row;
	gap: 80px;
	justify-content: center;
}

.ButtonContainer{
	display: flex;
	flex-direction: row;
	background-color: #E3E3E3;
	gap: 400px;
	justify-content: center;
	position: absolute;
	bottom: 0;
	padding: 20px 0 20px 0;
	width: 80%
}

.ButtomButtonProceed{
	padding: 5px;
	border-radius: 5px;
	width: 180px;
	background-color: #B8E8A1;
	border: none;
}

.ButtomButtonCancel{
	padding: 5px;
	border-radius: 5px;
	width: 180px;
	background-color: #DCA1A1;
	border: none;
}

.BuyPageInput{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}