.BuyPageWrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	position: relative;
}

.BuyTerms {
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: left;
	justify-content: center;
	width: 75%;
	margin: auto;
}

.BuyPageInput {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	width: 100%;
	justify-content: center;
	margin: auto;
}

.BuyPageContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 100px;
}

.BuyPageContent {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.ButtonContainer {
	display: flex;
	flex-direction: row;
	background-color: #E3E3E3;
	gap: 400px;
	justify-content: center;
	position: absolute;
	bottom: 0;
	padding: 20px 0 20px 0;
	width: 100%;
}

.ButtomButtonProceed {
	padding: 5px;
	border-radius: 5px;
	width: 180px;
	background-color: #B8E8A1;
	border: none;
}

.ButtomButtonCancel {
	padding: 5px;
	border-radius: 5px;
	width: 180px;
	background-color: #DCA1A1;
	border: none;
}

.ButtonWrapper {
	display: flex;
	flex-direction: row;
	gap: 400px;
	margin: auto;
}

.OrderCountdown{
	font-weight: 600;
	font-size: 1.5em;
}

.OrderInfo{
	display: flex;
	flex-direction: column;
}

.UserDetailsWrapper{
	display: flex;
	flex-direction: column;
	gap: 40px;
}