.TransactionPage{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 40px;
}

.TransactionStatusContainer{
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 20px;
}

.TransactionStatusHeading{
	font-size: 1em;
	font-weight: 700;
}

.TransactionStatusIcon{
	width: 120px;
	height: 120px;
	background-color: blue;
}

.TransactionStatus{
	
}

.OrderTokenWrapper{
	display: flex;
	flex-direction: row;
	gap: 20px;
	background-color: #FFF;
	padding: 5px 20px;
	border-radius: 10px;
	width: fit-content;
	margin: auto;
}

.OrderDetailsWrapper{
	display: flex;
	flex-direction: column;
	gap: 30px;
	/* width: 50%; */
}

.OrderDetails{
	width: 60%;
	background-color: green;
	border-radius: 5px;
	margin: auto;
}