.WalletPage {
	width: 1280px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

.WalletInformation {
	display: flex;
	flex-direction: column;
	/* background-color: #E9EFEE; */
	width: 70%;
	gap: 20px;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 40px 0px;
	border-radius: 10px;
}

.WalletTransactionInput {
	width: 400px;
	padding: 10px;
}

.WalletCoinInformation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.TransactionHistoryWrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
	gap: 20px;
	color: #FFF;
}

.WalletCoinImage {
	width: 35px;
	height: 35px;
}

.WalletCoinTotal {
	color: #AFAFAF;
	font-weight: 600;
	font-size: 1.1em;
}

.WalletCoinValue {
	color: #AFAFAF;
	font-weight: 700;
	font-size: 1.4em;
}

.WalletCoinPriceInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.WalletAddress {
	background-color: #232323;
	padding: 10px;
	width: 400px;
	border-radius: 5px;
	color: #AFAFAF;
}

.SendButton {
	background-color: #008DFF;
	color: #FFF;
	border: none;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	flex-direction: row;
	gap: 10px;
	border-radius: 5px;
	margin: 20px auto;
	width: 120px;
	justify-content: center;
}

.TransactionsTable {
	width: 900px;
	margin: auto;
	text-align: left;
	border-radius: 5px;
	border: 0;
}

.WalletCoinNetwork{
	color: #AFAFAF;
}