.TransferModal {
	background-color: #D9D9D9;
	width: 20vw;
	padding: 40px;
	border-radius: 5px;
	margin: 120px auto;
}

.TransferHeading {
	font-weight: 700;
}

.TransferInputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.TransferInputText {
	text-align: left;
	color: #8B95AF;
	font-size: 0.8em;
}

.TransferInputWrapper{
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.TransferInput {
	border-radius: 5px;
	border: none;
	background-color: #F7F7F7;
	height: 30px;
}

.TransferSendButton{
	background-color: #B8E8A1;
}

.TransferCancelButton{
	background-color: #DCA1A1;
}

.TransferButtons{
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
}

.TransferButtons button{
	border: none;
	border-radius: 5px;
	width: 120px;
	padding: 10px;
}

.TransferOverlay{
	background-color: rgba(0, 0, 0, 0.75);
	width: 80%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20%;
}