.NavBar{

}

.NavContent{
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	justify-content: space-between;
}

.NavIntroduction{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.NavUserInfo{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.NavIntro{
	font-size: 1em;
	font-weight: 600;
}