.WalletSwitcher {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 100px;
	margin: auto;
	justify-content: center;
}

.WalletSwitcherTab {
	padding-bottom: 5px;
	height: 20px;
}

.WalletSwitcherTab:hover {
	border-bottom: 2px solid white;
	/* Add a white border on hover */
}

.WalletSwitcherTabText {
	font-size: 0.8em;
}