.WalletPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	background-color: #F3F3F3;
	align-items: center;
}

.WalletInformation {
	display: flex;
	flex-direction: column;
	background-color: #E9EFEE;
	width: 70%;
	gap: 20px;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
}

.WalletCoinInformation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.TransactionHistoryWrapper {
	display: flex;
	flex-direction: column;
	background-color: #FFF;
	width: 70%;
}

.WalletCoinImage {
	width: 35px;
	height: 35px;
}

.WalletCoinTotal{
	color: #3A3C3C;
	font-weight: 600;
	font-size: 1.1em;
}

.WalletCoinValue{
	color: #000;
	font-weight: 700;
	font-size: 1.4em;
}

.WalletCoinPriceInfo{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.WalletAddress{
	background-color: #A2E5D2;
	padding: 10px;
	width: 400px;
}