.DashboardCard {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: #232323;
	width: fit-content;
	padding: 20px 100px;
	border-radius: 10px;
	cursor: pointer;
}

.DashboardCardTitle {
	color: #AFAFAF;
	font-weight: 500;
	font-size: 1em;
}

.DashboardCardDescription {
	color: #AFAFAF;
	font-weight: 200;
	font-size: 0.75em;
}

.DashboardCardIcon {
	width: 30px;
	margin: auto;
}

.DashboardCard:hover {
	background-color: #141414;
}

@media only screen and (max-width: 600px) {
	.DashboardCard {
		width: 80%;
		padding: 10px;
		gap: 10px;
		margin: auto;
	}

	.DashboardCardIcon{
		width: 25px;
	}

	.DashboardCardTitle{
		font-size: 0.8em;
	}

	.DashboardCardDescription{
		font-size: 0.7em;
	}
}