.TradeMethodCardWrapper{
	color: #AFAFAF;
	display: flex;
	flex-direction: column;
	gap: 45px;
	background-color: #232323;
	border-radius: 10px;
	max-width: 300px;
	padding: 50px;
}


@media only screen and (max-width: 600px) {
	.TradeMethodCardWrapper{
		width: 70%;
		height: 180px;
		margin: auto;
		padding: 20px;
	}

	.TradeMethodText{
		font-weight: 700;
	}

	.TradeMethodLimit{
		font-size: 0.8em;
	}
}