.UserStatContainer{
	display: flex;
	flex-direction: column;
	background-color: darkcyan;
	padding: 60px 80px;
	border-radius: 5px;
}

.UserStatName{
	font-size: 0.9em;
}

.UserStatValue{
	font-size: 1.2em;
	font-weight: 600;
}