.TransactionHistory {
	width: 100%;
}

.TransactionHistoryTable {
	width: 100%;
	text-align: left;
	border: none;
	border-collapse: separate;
	border-spacing: 0 1em;
}

.TransactionsHistoryPage {
	width: 1280px;
	max-width: 1280px;
}

.TransactionsHistoryCard {
	background-color: #FFF;
	border: none;
	border-radius: 10px;
	margin-bottom: 5px;
}

.TransactionHistoryTable td {
	padding: 20px 0;
	text-align: left;
}

.TransactionImage {
	border-radius: 5px;
}

.TransactionStatus{
	border-radius: 5px;
}