.PortfolioAsset {
	display: flex;
	flex-direction: row;
}

.CoinInfoWrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.CoinInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.CoinPrice{
	display: flex;
	flex-direction: column;
	gap: 5px;
}